* {
    box-sizing: border-box;
    color: linear-gradient(lightskyblue, magenta);;
    border-radius: 3px;
    font-family: 'notable', sans-serif;
}
img {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
}
header {
    height: 400px;
    background: linear-gradient(orange,lightgreen);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -5px;  
}
figure {
    height: 500px;
    display: flex;
    align-items: center;
    background: linear-gradient(lightgreen, lightskyblue);
    width: 70%;
    margin: 0px;
    margin-bottom: -5px;
}
#outcome {
    width: 70%;
    background: linear-gradient(lightskyblue, magenta);
    height: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}
#score {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 33%;
    margin: 0 auto;
    margin-top: 3%;
    border: 5px solid black;
    padding: 5px;
}
button {
    display: block;
    margin: 0 auto;
    width: 33%;
}
button:hover {
    background-color: red;
    animation-duration: 500ms;
    cursor: pointer;
}
#img-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
input {
    display: none;
}
.radio-image {
    border: 5px solid transparent;
    border-radius: 5%;
    background: pink;
}
.radio-image:hover {
    cursor: pointer;
}
input:checked + .radio-image {
    border: 5px solid magenta;
    box-sizing: border-box;
}
h1 {
    font-family: 2rem;
    text-align: center;
}
h2 {
    max-width: 50%;
    text-align: center;
    font-size: 1rem;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('./images/circle-blues.png');
}
label {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 33%;
}
